
body{
	margin: 0;
	font-family: sans-serif;
}

body h1{
	font-size:25px;
	font-family:sans-serif;
	color:#000000;
	text-align:center;
}
header {
	width:100%;
	background:#FFFFFF;
}
/* menu*/
.navegacion{
	width=100%;
	display:flex;
	justify-content:flex-end;
}

.navegacion ul {
	margin:0;
	list-style:none;
	padding:0;
}



.navegacion ul a {
	display: block;
	padding: 15px 20px;
	color:#F8AF07;
	text-decoration:none;
	
}	

.menu > li{
	position:relative;
	display:inline-block;
	
}


.menu > li > a{

display:block;
padding: 15px 20 px;
color: #F8AF07;
font-family:sans-serif;
text-decoration:none;
background:rgba(0,0,0,0.7);
}

.menu >li> a:hover{
	
	color:#000000;
	transition:all .3s;
}

/* submenu*/

.submenu{
	Position:absolute;
	width:130%;
	background:rgba(0,0,0,0.5);
	display:none;
}

.submenu li:hover{
	background-color:rgba(0,0,0,0.8);
}

.submenu li a{
	display:block;
	padding: 15px;
	color:#F8AF07;
	font-family:sans-serif;
	text-decoration:none;
	width:150%;
	}

.menu li:hover .submenu {
	display:block;
	
}



/*menu sucursales*/


.navegacion1{
	width=100%;
}

.navegacion1 ul {
	margin:3ex;
	list-style:none;
	padding:0;
	text-align:center;
	
}

.navegacion1 ul a {
	display: block;
	padding: 15px 20px;
	color:#F8AF07;
	text-decoration:none;
	border-radius:3px;
	
}	


.menu1 > li{
	position:relative;
	display:block;
	
	
}

.menu1 > li >a{
	
	display:block;
	padding: 15px 10px;
	color:#000000;
	font-family:sans-serif;
	text-decoration:none;
	width:100%;
	background:#F8AF07;
	
}



/* submenu1*/

.submenu1{
	Position:absolute;
	width:98%;
	background:rgba(0,0,0,0.8);
	display:block;
}

.submenu1 li:hover{
	background-color:rgba(0,0,0,0.7);
}

.submenu1 li a{
	display:block;
	padding: 15px 10px;
	color:#F8AF07;
	font-family:sans-serif;
	text-decoration:none;
	width:10%;
	}

/*.menu1 li:hover .submenu1 {
	display:block;
	
}
*/





/*siguientes bloques*/





h2{
	color:#F8AF07;
}

.principal{width:100%;
}

hr {
	background:#F8AF07;
	border:none;
}
div {
	width:600px;
	display:inline-block;
}

.bloque1{
	width:600px;
	color:#000000;
}

h1{
	font-size:60px
	
}

	.somos{
		
		font-size:65px;
		color:#F8AF07;
	}


	.presentacion{
		display:block;
		font-size:19px;
		color:#676565;
		padding:1px 50px;
		width:93%;
		text-align=center;
	}

	.titulo header{
	
	background: #ffffff;
	
	}
	.bloque3{
		padding:74px;
	}
	
footer {
	display:inline-block;
	padding: 1px 20px;
	width:100%;
	color:#ffffff;
	background:#000000;
	}
.slider{
	
	width:91%;
	margin-left:auto;
	margin-right:auto;
	overflow:hidden;
	justify-content:center
	}

.slider ul{
	display:flex;
	padding:0 40;
	position:relative;
	width:300%;
	
	animation: cambio 10s infinite;
	
		
}

.slider li{
	width:100%;
	list-style:none;
}

.slider img{
	width:91%;
	}

img{
	display:block;
	margin-left:auto;
	margin-right:auto;
	
}

@keyframes cambio{
	0%{margin-left:-1;}
	25%{margin-left:-1;}
	
	30%{margin-left:-100%;}
	55%{margin-left:-100%;}
	
	60%{margin-left:-200%;}
	100%{margin-left:-200%;}
}

.menuIzquierdo{
 display:block;
 font-family:calibri;
 width:100%;
}


.menuIzquierdo h1{
	font-size:25px;
	color:#F8AF07;
	padding:10px;
}

.menuIquierdo li{
	list-style:none;
}

.menuNosotros li{
	list-style:none;
	text-decoration:none;
	color:rgb(72,72,72);
	display:inline-block;
	font-size:20px;
	background:#F8AF07;
	width:20%;
	border-radius:10px;
	text-align:center;
	Color:#FFFFFF;
}

.menuNosotros ul a {
	display:block;
	color:#000000;
	text-decoration:none;
	
}

.menuNosotros li:hover{
	display:block;
	background: rgb(236,236,236);
	
}

.menuSucursales li{
	
	list-style:none;
	text-decoration:none;
	display:flex;
	color:rgb(72,72,72);

}

.menuSucursales ul a {
	color:#000000;
	text-decoration:none;
}

.menuSucursales li:hover{
	display:block;
	background: rgb(236,236,236);
}

.menuNuestrosServicios li{
	
	list-style:none;
	text-decoration:none;
	display:flex;
	color:rgb(72,72,72);
	
}

.menuNuestrosServicios ul a {
	color:#000000;
	text-decoration:none;
}

.menuNuestrosServicios li:hover{
	display:block;
	background: rgb(236,236,236);
}

.infoDesarrollador{
	width: 100%;
	display:block;
	font-family:calibri;
	font-size:20px;
	padding:50px 0px;
}

.imagenDesarrollador{
	padding: 10px 0px;
	width:100%;
	display:block;
	
}

.nav li a{
	display:none;
	position:absolute;
	min-width:140px;
}
.nav > li{
	float:left;
}

.tablaSede {
	width:100%;
}
.tablaSede td {
	width:50%;
	text-align:center;
	vertical-align:top;
	padding:3em;
	;
}

.menuSucursales{
	float:table-column-group;
	
	
}
.ListoParaEntrenar{
	
	width:97%;
	padding:10px 10px;
	
	
}
.ListoParaEntrenar h2{
	
	text-align:center;
	font-family:sans-serif;
	
}

.Conoce{
	
	width:100%;
	display:flex;
	justify-content:center;
	padding:15px 20x;
	
}

.ConocePlanes{
	background:#F8AF07;
	border-radius:5px;
	text-decoration:none;
	text-align:center;
	color:#676565;
	
}


.parrafoSede{
	Display:block;
	background:rgb(80,80,80);
	font-family:sans-serif;
	color:#FFFFFF;
	width:100%;
	justify-content:center;
	padding:5px;
	font-size:18px;
}
.iframe{
	display:block;
	justify-content:center;
	text-align:center;
	width:100%;
}

.bodyInferior{
	background:rgba(248,176,0,0.2);
	}


.imagenSomos{
	display:block;
	width:100%;
	margin-top: 20px;
	
}
.imagenSomos >  img	{
	
	width:90%;
	opacity:0.85;
	border-radius:5px;
}
.cotizar{
	
	display:block;
	width: 150px;
	padding: 0px 50px;
	text-decoration:none;
	
}

.botonCotizar{
	Position: relative;
	margin:0%;
	font-size:14px;
	font-family:sans-serif;
	display:inline-block;
	padding: 5px 5px;
	color:#000000;
	
	
}

.botonCotizar:before,.botonCotizar:after{
	content:'';
	position:absolute;
	left: absolute;
	left:-8px;
	top:0px;
	background:linear-gradient(90deg,#F8AF07,#fafafa);
	background-size:200%;
	width:120%;
	height: 100%;
	z-index:-1;
	animation:BGgradient 10s ease infinite;
	
}

@keyframes BGgradient{
	0%{background-position: 0% 200%;}
	50%{background-position:  200% 0%;}
	0%{background-position: 0% 330%;}
}

