body{
	margin: 0;
	font-family: sans-serif;
}
header {
	width:100%;
	background:#FFFFFF;
}


.principal{width:100%;
}
div {
	width:90%;
	display:block;
	text-align:center;
	
	
	
	
}

.bloque1{
	width:600px;
	color:#676565;
}

h1{
	font-size:60px;
	color:#F8AF07;
	text-align:center;
	
}

	.somos{
		display:block;
		font-size:65px;
		color:#F8AF07;
	}


	.presentacion{
		display:block;
		font-size:22px;
		color:#676565;
		padding:100px 50px
	}

	.titulo header{
	
	background: #ffffff;
	
	}
	.bloque3{
		padding:50px;
		text-align:center;
	}
	
footer {
	display:inline-block;
	padding: 1px 20px;
	width:100%;
	color:#ffffff;
	background:#000000;
	}

.button{
	display:inline-block;
	Color:#F8AF07;
	font-size:20px;
	background:#F8AF07;
	width:20%;
	border-radius:15px;
	padding: 9px 9px;
	color:#000000;
}

.button:hover{

	background:rgba(0,0,0,0.08);
	
}

video{
	
	justify-content:center;
	
}

img{
	
	width: 60%;
	
}


/* menu*/
.navegacion{
	width=100%;
	display:flex;
	justify-content:flex-end;
}

.navegacion ul {
	margin:0;
	list-style:none;
	padding:0;
}



.navegacion ul a {
	display: block;
	padding: 15px 20px;
	color:#F8AF07;
	text-decoration:none;
	
}	

.menu > li{
	position:relative;
	display:inline-block;
	
}


.menu > li > a{

display:block;
padding: 15px 20 px;
color: #F8AF07;
font-family:sans-serif;
text-decoration:none;
background:rgba(0,0,0,0.7);
}

.menu >li> a:hover{
	
	color:#000000;
	transition:all .3s;
}

/* submenu*/

.submenu{
	Position:absolute;
	width:130%;
	background:rgba(0,0,0,0.5);
	display:none;
}

.submenu li:hover{
	background-color:rgba(0,0,0,0.8);
}

.submenu li a{
	display:block;
	padding: 15px;
	color:#F8AF07;
	font-family:sans-serif;
	text-decoration:none;
	width:150%;
	}

.menu li:hover .submenu {
	display:block;
	
}

.presentacion {
	color:#676565;
	
}